extends ../layout

block script
  script(src="//sdk.twilio.com/js/client/releases/1.10.1/twilio.js")
  script(src="/js/dashboard.js")

block content
  form.form-inline
    .form-group
      label.mr-1(for="user_id") User ID
      input.form-control.mr-1(type="text" id="user_id" value=user_id)
    button.btn.btn-primary.mr-1#connectButton Connect
    button.btn.btn-success.mr-1#answerButton(disabled) Answer
    button.btn.btn-danger#hangupButton(disabled) Hang Up

  .row.my-2
    .col-sm
      .card.h-100
        .card-body
          h5 Status
          #callStatus Disconnected

    .col-sm
      .card.h-100
        .card-body
          h5 Available Users
          .font-italic#noUsers No users connected
          ul#usersList

  .row.my-2#interimContainerRow
    .col-sm
      h3 Google
      .card.h-100
        .card-body
          h5 Interim-transcription
          #googleInterimContainer
            div
              strong Inbound said:
              .inbound.ml-1.d-sm-inline-block
            div
              strong Outbound said:
              .outbound.ml-1.d-sm-inline-block

    .col-sm
      h3 Microsoft
      .card.h-100
        .card-body
          h5 Interim-transcription
          #microsoftInterimContainer
            div
              strong Inbound said:
              .inbound.ml-1.d-sm-inline-block
            div
              strong Outbound said:
              .outbound.ml-1.d-sm-inline-block

  .row.my-2#chatContainerRow
    .col-sm
      .card.card-chat.h-100
        .card-body
          h5 Chat log
          ul.list-unstyled#googleChatContainer

    .col-sm
      .card.card-chat.h-100
        .card-body
          h5 Chat log
          ul.list-unstyled#microsoftChatContainer
          //ul.list-unstyled#microsoftChatContainer
            li outbound said: Hello.
            li inbound said: Well, let me go deeper.
            li inbound said: OK.
            li outbound said: So yeah, obviously there are some things that it does not do so great.
            li inbound said: Yeah.
            li outbound said: I was able to do that fine, just as long as you take your time to speak in a clear manner.
            li inbound said: Yeah, I mean, how much of this is.
            li inbound said: Because of it being live like yeah I had different would it be?
            li inbound said: Is it was?
            li inbound said: Delayed post process.
            li outbound said: Well, you'll notice that it does actually have the interim transcription at the top, and then there's the chat log at the bottom. So the part of the bottom is what it has described. Divided is basically the final transcription, so.
            li outbound said: Is gone through and worked and reworked what has been said and it is decided that is the final thing. So to my knowledge there would be no difference with that final transcription, but the benefits in the chat log.
            li inbound said: He
            li inbound said: yeah OK, so I guess that's it. 'cause is detecting the end of a sentence and it's you know it all. The post processing is done by the time that you might get to take the independence. Does those pressing processing and we're done.
            li outbound said: Yes, I mean you take a look at what you're the interim transcription is saying will see that it will actually be chopping and changing and deciding. Oh no, it's actually sent there, so.
            li outbound said: So that is.
            li outbound said: That's one of the core of I guess what the live for. The reason why you wouldn't necessarily want to look at the life stuff. But yeah, if you if you see that the chat log, you will see that it is.
            li outbound said: Hopefully the best result that it would have.
            li outbound said:
            li inbound said: Yeah, I am tempted floor accent right now, but I don't think that that will be.
            li inbound said: Relative test of any substance history.
            li inbound said:
            li outbound said: So I have got it sent to Australian English.
            li inbound said: Yeah, I said it.
            li inbound said: He
            li outbound said: You can choose not to steal the various different languages that they support, and they do seem to support quite a few. But yeah, I'm including those like 8 different English variants, so and that was that, I think most of the ones that we've seen.
            li outbound said: But yeah, look. I mean, it was relatively easy to set up. Like I said, once I had API key, right?
            li outbound said: New super move on my part I, but it's just it's a little bit funny the way that they've.
            li outbound said: That their system. Obviously they've got in the same way that Amazon has their IAM stuff there. Saying basically just requires just go through and set up that specific API with that particular account and set up a resource group. I mean they got all this stuff where honestly it makes sense if you understand the full system. But yeah, for a new touch that stuff it's pretty rubbish.
            li inbound said: Yeah.
            li outbound said: No, it's just. It's obviously very complicated and powerful, but.
            li inbound said: Yeah, OK.
            li outbound said: So I mean, I, I think if you look at the if you ignore the interim transcription and basically just follow the chat log, that's how it would work in the classroom.
            li outbound said: That's how I see it working in the classroom.
            li inbound said:
            li outbound said: And I think I mean Brendan was worried that it was going to be a little bit confusing or distracting, but I'm not sure. I mean, I think if you've got somebody talking and it's a nice sentence.
            li outbound said: It's not really a problem.
            li inbound said: Yeah, I don't know. Look, I think it's very much going to be a thing where it's it's gonna depend on how it feels.
            li inbound said: Yeah.
            li outbound said: Yeah, so well, this suggestion I made to bring him was OK. Maybe what we do there is we have a toggle button at the top that says show me the transcription that voice parts in the trap log. So you can probably roll because they all end up being is just regular chat like messages, but will add a class to it says this is a voice message and the total will literally just.
            li inbound said: We are.
            li inbound said: No.
            li outbound said: Hi or shows so will be getting put in the chat. Transcript is just when you see them off would be based on that problem.
            li inbound said: Yep.
            li inbound said: No.
            li outbound said: Think about why you know. I would suggest we leave on by default just so that people have context, but if they find it, it's distracting. They can turn it off so.
            li inbound said: Yep.
            li inbound said: Maker
            li inbound said: I mean the.
            li inbound said: End question is yes. How does this work?
            li inbound said: In a real world situation.
            li inbound said: Please stay.
            li inbound said: Number of different accents and.
            li outbound said: Yeah, I mean obviously we're going to have to do a bunch of testing with this. We're going to have to figure out how we're going to ask the person what is there.
            li outbound said: Nope, most appropriate accent or whatever.
            li inbound said: Me.
            li outbound said: Um or locale, I think is probably better.
            li outbound said: Anyway, the point is, yeah. I mean we'll have to have something that sort of questions that for the shooters we will likely have. That is just something that's on their profile.
            li inbound said: Is it Azure? Was one of the few that actually allowed automatic speaker section right or?
            li outbound said: You can specify up to four.
            li inbound said: Yeah, right?
            li outbound said: So you know it's possible that maybe we have something that is her country or per client, where we can say look, use.
            li outbound said:
            li outbound said: What did you think?
            li outbound said: So that the interim transcription result. Then when I said country.
            li outbound said: The interim pot obviously only got the first part of that word.
            li inbound said: You have.
            li inbound said:
            li outbound said: And decided that I was swearing and in the interim transcription that's called blah blah blah *** trick *** trick *** Trick.
            li inbound said:
            li inbound said: Right, but in the end it didn't actually say country at all, are there? It is, yeah.
            li inbound said: Yeah.
            li inbound said: Yeah.
            li inbound said: Yeah.
            li inbound said: Yeah.
            li outbound said: What it did in the final transmission because it relies all know that wasn't a square. Therefore all word yeah. But in the interim transcription, if you'd be watching that, it would have said blah blah blah.
            li outbound said: Astrex astrex astrex astrex.
            li inbound said: Yeah.
            li inbound said: Yeah, interesting.
            li outbound said: Which I think is the right move like that's what we want. I don't think we would want it putting.
            li outbound said: Note swears into the transcript, even if it was unintentional.
            li inbound said: Yeah.
            li outbound said: Yeah, it's not working.
            li inbound said: Yeah, I want it.
            li outbound said: This is yeah, it's not working.
            li inbound said: It's giving itself Hard Knocks.
            li outbound said: Yeah.
            li inbound said: Yeah.
            li inbound said: Or Hard Knocks, as it were.
            li inbound said: Yeah.
            li inbound said: Yep.
            li outbound said: OK, well I'm going to try to do this up a little bit and then yeah, just. I mean I've already posted to the.
            li inbound said: Yeah.
            li outbound said: The project channel, just with some basic thing, just wanted to give an update. I'm not sure exactly where we should go from here in terms of how we're going to do. The testing will then have to think about that.
            li outbound said: You know, if I have some sort of way to subjectively.
            li outbound said: I guess, well objectively, really compare.
            li outbound said: Know the results if possible.
            li inbound said: No.
            li outbound said: And possibly just have.
            li outbound said: Yeah, something that.
            li outbound said: I guess it helps us too.
            li outbound said: Yeah, I have all the different ones and maybe this. I mean maybe what we have is something where when you start the call you actually say I want to use Google. I want to use the Microsoft one so that you know rather than 'cause. At the moment I'm just based on several branches of the code.
            li inbound said: Yep.
            li outbound said: Switch between them together. Switch the transcriber, but if it was honestly something that you chose when you started the call, then.
            li outbound said: Yeah, I might make that.
            li outbound said: Awesome.
            li inbound said: Stop.
            li inbound said: Seems good.
            li inbound said: Yeah.
            li inbound said: So yes, I did. The nation is asking about.
            li inbound said: Yeah, the dude presenting work speech.
            li inbound said: Which I guess you did, but you were taking turns and speaker.
            li outbound said:
            li inbound said: Yeah, so it's all very professional. Well, does it help?
