doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible", content="ie=edge")
    title Twilio voice test
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    // CSS
    link(rel="stylesheet", href="//stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous")
    link(rel='stylesheet', href='/css/style.css')
  body.d-flex.flex-column.justify-content-between
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
      a.navbar-brand(href="/") Twilio voice test
      //button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation")
        span.navbar-toggler-icon
      //.collapse.navbar-collapse#navbarNavDropdown
        ul.navbar-nav
          li.nav-item.active
            a.nav-link(href="/") Home

    .m-2.flex-fill
      block content

    footer.footer
      .px-2
        | Studiosity voice test app

    // JavaScript
    script(src="//ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
    script(src="//stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous")
    block script
